# Rename to tasker_api.service
[Unit]
Description=Tasker_API
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/new_bot/tasker_api
ExecStart=app.main:app --host 127.0.0.1 --port 8000
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


